@mixin rounded($amount: 5px) {
  -moz-border-radius: $amount; /* FF1+ */
  -webkit-border-radius: $amount; /* Saf3+, Chrome */
  border-radius: $amount; /* Opera 10.5, IE 9 */
}

@mixin rounded_specific($topleft: 5px, $topright: 5px, $bottomright: 5px, $bottomleft: 5px) {
  -moz-border-radius-topleft: $topleft;
  -webkit-border-top-left-radius: $topleft;
  border-top-left-radius: $topleft;

  -moz-border-radius-topright: $topright;
  -webkit-border-top-right-radius: $topright;
  border-top-right-radius: $topright;

  -moz-border-radius-bottomright: $bottomright;
  -webkit-border-bottom-right-radius: $bottomright;
  border-bottom-right-radius: $bottomright;

  -moz-border-radius-bottomleft: $bottomleft;
  -webkit-border-bottom-left-radius: $bottomleft;
  border-bottom-left-radius: $bottomleft;
}

@mixin rounded_top($amount: 5px) {
  @include rounded_specific($amount, $amount, 0, 0);
}

@mixin rounded_right($amount: 5px) {
  @include rounded_specific(0, $amount, $amount, 0);
}

@mixin rounded_left($amount: 5px) {
  @include rounded_specific($amount, 0, 0, $amount);
}

@mixin rounded_bottom($amount: 5px) {
  @include rounded_specific(0, 0, $amount, $amount);
}

@mixin box-shadow($horiz-offset, $vert-offset, $blur, $colour) {
  -moz-box-shadow: $horiz-offset $vert-offset $blur $colour; /* FF3.5+ */
  -webkit-box-shadow: $horiz-offset $vert-offset $blur $colour; /* Saf3.0+, Chrome */
  box-shadow: $horiz-offset $vert-offset $blur $colour; /* Opera 10.5, IE 9.0 */
}


body {
  color: #000;
  background: #fff;
  font-family: futura, helvetica;
  font-size: 1em;

  @media screen and (min-width: 600px) {
    background: url(/i/vbg.jpg);
  }
}

#content {
  background: #fff;

  @media screen and (min-width: 600px) {
    width: 525px;
    height: 525px;
    @include rounded(600px);
    margin: 5% auto 0 auto;
    @include box-shadow(1px,1px, 10px, rgba(0,0,0,.20));
  }

  h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 0;
    width: 75%;
    margin: 0 auto;
    padding-top: 2.5em;
    text-align: center;
    margin-bottom: 0.8em;
  }

  a {
    color: #333;
    text-decoration: none;
  }

  a:hover {
    color: pink;
  }

  #track-listing {
    margin: 0 auto;
    color: #333;
    width: 65%;
    padding: 0 0 0 0;

    li {
      font-size: 0.92em;
      line-height: 1.25em;
      position: relative;

      a {
        &:hover, &.playing, &.paused {
          &:after {
            content: ".";
            background: url(/i/control.png) 0 3px no-repeat;
            width: 11px;
            height: 16px;
            position: absolute;
            top: 0;
            left: -45px;
            text-indent: -9999px;
          }
        }

        &.playing {
          color: plum;
          &:after {
            background-position-y: -11px;
          }
        }

        &.paused {
          color: pink;
          background-position-y: -3px;
        }
      }

      div {
        height: 0;
        overflow: hidden;
      }
      object {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  p.download {
    width: 65%;
    margin: 2.5em auto 0 auto;
    border-top: 1px solid #ddd;
    padding-top: 0.75em;
    text-align: center;
    font-size: 0.85em;
  }
}