.player.circle
  .inner
    %h1 Vacationists

    %ol.track-listing
      -@album.tracks.each do |track|
        -track_dom = "track-#{track.track_id}"
        %li.clearfix
          %p
            %a.toggle-track{:href => "##{track_dom}", "data-track" => track_dom }=track.title
          -if track.streaming_url.blank?
            %span.no-streaming Not available online
          -else
            %a.track{:id => track_dom, :href => track.streaming_url, "data-duration" => track.duration }Listen

    %ul.links
      %li.download
        %a{href: "http://vacationists.bandcamp.com/download?enc=mp3-320&id=266867348&ts=1333734073.3664342390&tsig=06d5044ffad1a9dfb99fbb92f34ed224&type=album", title: "Download from bandcamp"}Download EP (mp3)
        %li.about
          %a{href: "#about", title: "About the band", class: "moreinfo"} About
        %li.contact
          %a{href: "#contact", title: "Contact the band", class: "moreinfo"} Contact

#about.circle.info
  .inner
    %h2
      About
    %p
      %strong Jason Cale
      %em (vocals / piano / guitar)
      %br
      %strong Luke Novak
      %em (vocals / guitars / sax / bass / percussion / everything else)
    %p This EP is their first release: a collection of songs recorded by the band in late 2011.

    %p.credits
      %strong Richard Bowman
      drums on
      %strong Peaceful Defeat.
      Produced by
      =succeed('.') do
        %a{href:"http://obscuresounds.com"} Lawrence Eldridge
      Recorded at
      =succeed('.') do
        %a{href: "http://thecombinationof.com"}thecombinationof
      Photos by
      =succeed('.') do
        %a{href: "http://www.josumuniz.com/"}Josu Muniz

#contact.circle.info
  .inner
    %h2
      Contact
    %ul
      %li
        Get in touch by
        %a{href: "mailto:vacationists@me.com", title: "Contact Vacationists by Email"} Email
      %li
        Follow us on
        %a{href: "http://twitter.com/vacationists", title: "Follow Vacationists on Twitter"} Twitter