%ol#track-listing
  -@album.tracks.each do |track|
    -track_dom = "track-#{track.track_id}"
    %li.clearfix
      %p
        %a.toggle-track{:href => track.streaming_url, "data-track" => track_dom }=track.title
      -if track.streaming_url.blank?
        %span.no-streaming Not available online
      -else
        %a.track{:id => track_dom, :href => track.streaming_url, "data-duration" => track.duration }Listen