!!!
!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
<!--[if lt IE 7]> <html lang="en" class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8 oldie"> <![endif]-->
-# Consider adding an manifest.appcache: h5bp.com/d/Offline
<!--[if gt IE 8]><!-->
%html.no-js{ :lang => "en" }
  <!--<![endif]-->
  %head
    %title Vacationists
    %meta{"http-equiv" => "X-UA-Compatible", content: "chrome=1"}
    :plain
      <!-- http://t.co/dKP3o1e -->
      <meta content='True' name='HandheldFriendly'>
      <meta content='320' name='MobileOptimized'>
      <meta content='width=device-width, target-densitydpi=160dpi, initial-scale=1' name='viewport'>
      <!--[if gte IE 7]><!-->
        <link rel="stylesheet" href="/assets/app.css" type="text/css" media="screen">
      <!-- <![endif]-->
      <script type="text/javascript" src="http://use.typekit.com/sjv6enf.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  %body
    .images
      .image#i1
      .image#i2
    #content
      =yield

    %script{src: "http://code.jquery.com/jquery-1.5.min.js", type: "text/javascript", charset: "utf-8"}
    %script{src: "/assets/app.js", type: "text/javascript", charset: "utf-8"}