!!!
%html
  %head
    %title The Vacationists
    %meta{"http-equiv" => "X-UA-Compatible", :content => "chrome=1"}
    :plain
      <!--[if gte IE 7]><!-->
        <link rel="stylesheet" href="/style.css" type="text/css" media="screen">    
      <!-- <![endif]-->
  %body
    %h1 The Vacationists
    =yield