body {
  color: #fff;
  background: #000;
  font-family: futura, helvetica;
  font-size: 1em;
  
  h1 {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    line-height: 1.5em;
    width: 410px;
    height: 410px;
    text-indent: -9999px;
    background: url(/i/logo2.png);
    margin: 0 auto;
  }
  
  
  p {
    text-align: center;
    color: #555;
  }
  
  a {
    color: pink;
    text-decoration: none;
  }
  
  a:hover {
    color: #999;
  }
  
}