@import "normalize";
@import "utils";

body {
  color: #000;
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  @media screen and (min-width: 600px) {
    background: url(/i/vbg.jpg);
  }
}

#content {
  background: #f9eeec;
  padding-bottom: 2em;
  border-bottom: 1px solid #cb7459;

  @media screen and (min-width: 600px) {
    padding: 0;
    border: none;
    width: 530px;
    height: 530px;
    position: absolute;
    left: 50%;
    margin-left: -265px;
    top: 0;
    margin-top: 5%;
    @include rounded(530px);
  }

  h1 {
    font-size: 2.5em;
    font-family: futura, helvetica;
    text-transform: uppercase;
    letter-spacing: 0;
    width: 75%;
    margin: 0 auto;
    padding-top: 2.5em;
    text-align: center;
    margin-bottom: 0.8em;
  }

  a {
    color: #333;
    text-decoration: none;
  }

  a:hover {
    color: #cb7459;
  }

  #track-listing {
    margin: 0 auto;
    color: #333;
    padding: 0 0 0 4em;

    @media screen and (min-width: 600px) {
      padding-left: 5em;
      width: 65%;
    }

    li {
      font-size: 0.92em;
      line-height: 1.25em;
      position: relative;
      margin-bottom: 1.25em;

      p {
        margin: 0;
      }

      a {
        &:hover, &.playing, &.paused {
          &:after {
            content: ".";
            background: url(/i/control.png) 0 3px no-repeat;
            width: 11px;
            height: 16px;
            position: absolute;
            top: 0;
            left: -45px;
            text-indent: -9999px;
          }
        }

        &.playing {
          color: #654d81;
          &:after {
            background-position-y: -11px;
          }
        }

        &.paused {
          color: #cb7459;
          background-position-y: -3px;
        }
      }

      div {
        height: 0;
        overflow: hidden;
      }
      object {
        position: absolute;
        top: 0;
        left: 0;
      }

      em.state {
        text-transform: italic;
        font-size: 0.9em;
        line-height: 1em;
      }
    }
  }

  p.download {
    width: 65%;
    margin: 2.5em auto 0 auto;
    border-top: 1px solid #583e26;
    padding-top: 0.75em;
    text-align: center;
    font-size: 0.85em;
  }
}