@import "normalize";
@import "utils";
@import "grid";

body {
  color: #000;
  background: #f9eeec;
  font: 100%/1.5 futura, "Helvetica Neue", Helvetica, Arial, sans-serif; *font-size: 1em;

  @media screen and (min-width: 600px) {
    background: url(/assets/vbg.jpg);
  }
}

@mixin circle($diameter: 530px) {
  @media screen and (min-width: 600px) {
    padding: 0;
    border: none;
    width: $diameter;
    height: $diameter;
    position: absolute;
    left: 50%;
    margin-left: -#{($diameter/2)};
    top: 0;
    @include rounded(530px);
  }
}

#content {

  .player {
    background: #f9eeec;

    @include circle(530px);

    @media screen and (min-width: 600px) {
      left: 30%;
      top: 2.4em;
    }
  }

  h1 {
    @include scaled_type(40, 20, 2);
    font-family: futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    width: 75%;
    margin-top: 1.5em;

    @media screen and (min-width: 600px) {
      padding-top: 1.5em;
    }
  }

  a {
    color: #333;
    text-decoration: none;
  }

  a:hover {
    color: #cb7459;
  }

  .track-listing {
    margin: 0 auto;
    color: #333;
    padding: 0 0 0 4em;

    @media screen and (min-width: 600px) {
      padding-left: 5.5em;
      width: 64%;
    }

    li {
      @include scaled_type(14, 20, 0.5);
      position: relative;
      font-family: futura, "Helvetica Neue", Helvetica, Arial, sans-serif;

      @media screen and (min-width: 600px) {
        @include scaled_type(15, 20, 0.5);
      }

      p {
        margin: 0;
      }

      a {
        &:hover, &.playing, &.paused {
          &:after {
            content: ".";
            background: url(/assets/control.png) 0 3px no-repeat;
            width: 11px;
            height: 16px;
            position: absolute;
            top: 0;
            left: -45px;
            text-indent: -9999px;
          }
        }

        &.playing {
          color: #654d81;
          &:after {
            background-position-y: -11px;
          }
        }

        &.paused {
          color: #cb7459;
          background-position-y: -3px;
        }
      }

      div {
        height: 0;
        overflow: hidden;
      }
      object {
        position: absolute;
        top: 0;
        left: 0;
      }

      em.state {
        text-transform: italic;
        font-size: 0.9em;
        line-height: 1em;
      }
    }
  }

  ul.links {
    @include scaled_type(13, 20, 0.5);
    list-style: none;
    margin: 4em auto 0 auto;

    @media screen and (min-width: 600px) {
      padding: 0 0 0 15%;
      width: 71%;
    }

    padding-top: 0.75em;


    li {
      display: inline;
      margin-right: 1em;

      &.download {
        padding-right: 1em;
        margin-right: 2.35em;
      }

      a {
        font-weight: bold;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
    }
  }

  #contact {

  }

  #about {
    position: absolute;
    @include circle(350px);
    background: #5c3e74;
    color: #dce9e0;
    padding-bottom: 2em;

    @media screen and (min-width: 600px) {
      top: 20%;
      left: 75%;
      padding-bottom: 0;
    }

    .inner {
      width: 80%;

      @media screen and (min-width: 600px) {
        width: 70%;
      }
      margin: 0 auto;
      padding-top: 5.25em;

      ul {
        list-style: none;
        padding: 0;
      }

      h2 {
        @include scaled_type(20, 20, 1);
        font-style: italic;
        color: #262520;
      }

      p {
        @include scaled_type(14, 20, 0.5);
        -webkit-font-smoothing: antialiased;

        &:first-child {
          @include scaled_type(16, 20, 0.5);
        };

        em {
          @include scaled_type(14, 20, 0.5);
        }
      }
    }
  }
}